<div class="list-banner">
  <h1>Create your list</h1>
</div>

<div class="container">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, placeholder: 'Add a list name' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create"%>
      <% end %>
</div>
