<div>
    <h3>Add a movie to your list</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>

        <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
        <%= f.submit%>
        <% end %>
</div>
